<h1>Debt</h1>

<div class="income-group">
  <header>
    <h2>Total Debt</h2>
  </header>
    <table>
      <thead>   
        <tr>
          <th scope="col" colspan="0">Debt</th>
          <th scope="col" colspan="5">Amount Owed</th>
           <th scope="col" colspan="5">Amount Paid</th>
            <th scope="col" colspan="5">Remaining</th>
        </tr>
      </thead>

      <tbody id="table-body">
      <% session[:debt_items].each do |table| %>
        <tr>
          <td scope="col" colspan="5"><%= table[:name]  %></td>
          <td scope="col" colspan="5"><%= table[:amount] %></td>
          <td scope="col" colspan="5">
            <a href="/income/?/edit">Edit Item</a>
          </td>  
           <td scope="col" colspan="5">
            <a href="/income/?/delete">Delete Item</a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<a href="/debt/new">Add Debt</a> 

<% session[:debt_items].each do |table| %>
 <% @total << table[:amount].to_i %>
<% end %>

<h2>Total Debt: $<%= @total.sum %></h2>

<%# <%= session[:debt_items] %> 

<center>
    <h1>Debt Breakdown</h1>
      <p>
        <%= bar_chart(@monthly_debt) %>
      </p>
</center>


<h2>How long will it be until i'm debt free?</h2>

<a href="/debt/free">Debt Repayment Calculator</a> 


<div class="income-group">
  <header>
    <h2>Results</h2>
  </header>
    <table>
      <thead>   
        <tr>
          <th scope="col" colspan="0">Months to pay off</th>
          <th scope="col" colspan="5">Total Principal Paid</th>
           <th scope="col" colspan="5">Total Interest Paid</th>
        </tr>
      </thead>

      <tbody id="table-body">
      <% session[:repayment_calculator].each do |table| %>
        <tr>
          <td scope="col" colspan="5"><%= table[:months]  %></td>
          <td scope="col" colspan="5"><%= table[:principal] %></td>
          <td scope="col" colspan="5"><%= table[:interest] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
