<h1>Emergency Fund</h1>

<div class="income-group">
  <header>
    <h2>Emergency Fund</h2>
  </header>
    <table>
      <thead>   
        <tr>
          <th scope="col" colspan="0">Goal</th>
          <th scope="col" colspan="5">Amount Paid today</th>
           <th scope="col" colspan="5">Total Amount Paid</th>
            <th scope="col" colspan="5">Remaining</th>
        </tr>
      </thead>

      <tbody id="table-body">
      <% session[:emergency_items].each do |table| %>
        <tr>
          <td scope="col" colspan="5"><%= table[:amount] %></td>
          <td scope="col" colspan="5">
            <a href="/income/?/edit">Edit Item</a>
          </td>  
           <td scope="col" colspan="5">
            <a href="/income/?/delete">Delete Item</a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<a href="/emergency/goal">Add Emergency goal</a> 
<a href="/emergency/new">Add Payment</a> 

<% session[:emergency_items].each do |table| %>
 <% @total << table[:amount].to_i %>
<% end %>

<%# # <h2>Emergency Fund Goal: $<%= @total.sum %>
<%# <%= session[:emergency_items] %> 

<center>
    <h1>Emergency Fund Goal: $<%= @total.sum %></h1>
      <p>
        <%= bar_chart(@emergency) %>
      </p>
</center>

