<section id="expense_items">
  <header>
    <h2><%= @expense_category[:name]  %></h2>

  </header>
</section>

<div class="income-group">
  <header>
    <h2><%= @expense_category[:name] %> for <%= @current_month %></h2>
  </header>
    <table>
      <thead>
        <tr>
          <th scope="col" colspan="10">Expense</th>
          <th scope="col" colspan="10">Amount</th>
          <th scope="col" colspan="10">Due Date</th>
        </tr>
      </thead>

      <tbody id="table-body">
      <% session[:expense_categories][session[:id]][:expenses].each do |table| %>
        <tr>
          <td scope="col" colspan="5"><%= table[:name]  %></td>
          <td scope="col" colspan="5"><%= table[:amount] %></td>
          <td scope="col" colspan="5"><%= table[:due_date] %></td>
          <td scope="col" colspan="5">
            <a href="/income/?/edit">Edit Item</a>
          </td>
           <td scope="col" colspan="5">
            <a href="/income/?/delete">Delete Item</a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<%# <p><%= @expense_category  %>

<h2><%= @expense_data %>

<h2><%= @new_database_table %>

<a href="/expense/new">Add New Expense</a>


<% session[:expense_items].each do |table| %>
 <% @total << table[:amount].to_i %>
<% end %>

<%# <%= session[:expense_items] %>
<h2>Total Expenses for <%= @current_month %>:$ <%= @total.sum %></h2>

<%# <%= @monthly_expenses %>

<center>
    <h1>Expense Breakdown</h1>
      <p>
        <%= pie_chart(@monthly_expenses) %>
      </p>
</center>
