<h1>Income</h1>
<h2><%= @current_month %></h2>
<h2><%= @current_year %></h2>

<div class="income-group">
  <header>
    <h2>Income for <%= @current_month %></h2>
  </header>
    <table>
      <thead>   
        <tr>
          <th scope="col" colspan="0">Income</th>
          <th scope="col" colspan="5">Amount</th>
        </tr>
      </thead>

      <tbody id="table-body">
      <% session[:income_items].each do |table| %>
        <tr>
          <td scope="col" colspan="5"><%= table[:name]  %></td>
          <td scope="col" colspan="5"><%= table[:amount] %></td>
          <td scope="col" colspan="5">
            <a href="/income/?/edit">Edit Item</a>
          </td>  
           <td scope="col" colspan="5">
            <a href="/income/?/delete">Delete Item</a>
          </td> 
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<a href="/income/new">Add Income</a> 

<% session[:income_items].each do |table| %>
 <% @total << table[:amount].to_i %>
<% end %>

<%# <%= session[:income_items] %>
<h2>Total Income for October: $<%= @total.sum %></h2>

<%# <%= @monthly_data %> 
<h1>Testing directories and files</h1>

<ul>
  <% @files.each do |file| %>
    <li><%= file %></li>
  <% end %>
</ul>

<h2><%= @income_data %>

<center>
    <h1>Income Breakdown</h1>
      <p>
        <%= pie_chart(@monthly_data) %>
      </p>
</center>



